@charset "UTF-8";

/*---------------------全体---------------------*/
html {
  font-size: 100%;
}

body {
  color: black;
  margin: 0;
  padding: 0;
  font-weight: 500;
  background-color: white;
  line-height: 1.5;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

#main {
  margin-bottom: 80px;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

 a:visited {
  color: white;
 }

@media all and (min-width: 897px) {
  .sp {
    display: none !important;
  }
}

@media all and (max-width: 896px) {
  body {
    min-width: inherit;
    font-size: 1.3rem;
  }

  a:hover,
  a:hover img {
    opacity: 1 !important;
  }

  .pc {
    display: none !important;
  }
}

/*---------------------全体---------------------*/
.flex,
.flexA,
.flexB,
.flexC {
 display: flex;
 flex-wrap: wrap;
}

.flexB {
  justify-content: space-between;
}

/*---------------------header---------------------*/
#w-header {
  background-color: aquamarine;/*色*/
  margin-bottom: 0;
  padding-bottom: 16px;
  position: relative;
  z-index: 30;
}

#w-header .hBox {
  max-width: 1325px;
  margin: 0 auto;
  align-items: center;
}

#w-header .hBox .nav-box {
  padding-right: 14px;
  box-sizing: border-box;
  justify-content: flex-end;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
}

#w-nav {
  margin: 0 12px -42px 0;
}

#w-nav .main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#w-nav .main-nav li {
  margin: 0 26px;
  display: inline-block;
}

#w-nav .main-nav li a {
  padding-bottom: 42px;
  display: block;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.07em;
  color: black;
}

#w-nav .icon-nav {
  position: relative;
  display: inline-block;
  margin-top: -3px 16px 0 0;
  width: 30px;
}

#w-header .hBox .icon-nav li {
  margin: 0 14px;
  width: 30px;
  display: inline-block;
}

.logo {
  width: 80px;
  margin-top: 15px;
}

.flexB {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

/*---------------------body homecontents---------------------*/
.home-content .slideUL .slick-dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%);
}

/*---------------------body downbox---------------------*/
.down-box {
  margin-bottom: 56px;
  background-color: black;
}

.down-box p {
  color: white;
  line-height: 2.18;
  font-size: 1rem;
  text-align: center;
}

.down-box p.ttl {
  padding: 20px;
  cursor: pointer;
}

.down-box p span {
  padding-right: 40px;
}

/*---------------------body event recommend---------------------*/
.event-sec {
  margin-top: 80px;
  margin-bottom: 115px;
}

.event-sec .content {
  width: 1086px;
  margin: 0 auto;
}

.event-sec .content .head-line01 {
  margin-bottom: 49px;
}

.event-sec .content .head-line01 .en {
  font-size: 2.8rem;
}

.event-sec .com-slide {
  margin: 0 0 0 auto;
  width: calc(50% + 544px);
}

.head-line01 .en {
  font-size: 1.6rem;
  /*margin-bottom: 7px;*/
  display: block;
}

.rec-sec {
  padding-bottom: 67px;
}

.rec-sec .head-line01 {
  margin-bottom: 49px;
}

.rec-sec .com-slide {
  margin-bottom: 123px;
}

/*---------------------body imgbox---------------------*/
.rec-sec .img-box {
  margin-bottom: 83px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.rec-sec .img-box .photo-box {
  width: 50%;
  overflow: hidden;
}

.rec-sec .img-box.right .photo-box {
  order: 1;
}

.rec-sec .img-box .photo-box img {
  width: 100%;
}

.rec-sec .img-box .text-box {
  margin-top: -4px;
  width: 50%;
}

.rec-sec .img-box .text-box .inner-box {
  margin-right: auto;
  padding-left: 78px;
  max-width: 470px;
}

.rec-sec .img-box.right .text-box .inner-box {
  margin: 0 0 0 auto;
  padding: 0 78px 0 0 ;
}

.rec-sec .img-box .text-box .name {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
}

.rec-sec .img-box .text-box .sub {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: '', sans-serif;/*font未*/
  font-weight: 400;
  font-style: normal;
}

.rec-sec .img-box .text-box .text {
  margin-bottom: 24px;
  line-height: 2.02;
  font-weight: bold;
}

/*---------------------body news---------------------*/
.news-sec {
  padding: 56px 0;
  background-color: blueviolet;/*色*/
}

.news-sec .content {
  width: 1086px;
  margin: 0 auto;
}

.news-sec .news-box .head-line01 {
  width: 150px;
}

.news-sec .news-box .head-line01 .en {
  font-size: 2.8rem;
}

.news-sec .news-box .news-ul {
  margin: -8px 0 29px;
  width: calc(100% - 176px);
}

.news-sec .news-box .news-ul li a {
  padding: 13px 10px;
  font-size: 1.3rem;
  display: block;
}

.news-sec .news-box .news-ul li a:hover {
  opacity: 0.75;
}

.news-sec .news-box .news-ul li .time {
  margin-right: 42px;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: ;/*font未*/
}

.news-sec .btn {
  text-align: right;
}

.news-sec .btn a {
  display: inline-block;
  padding-right: 24px;
  font-weight: bold;
}

.news-sec .btn a:hover {
  opacity: 0.75;
}

/*---------------------body category---------------------*/
.category-sec {
  padding-top: 62px;
}

.category-sec .head-line01 {
  margin-bottom: 58px;
}

.category-sec .head-line01 .en {
  font-size: 2.8rem;
}

.category-sec .cata-ul {
  margin: -30px 0 95px;
}

.category-sec .cata-ul li {
  margin-top: 30px;
  width: calc((100% - 60px)/3);
}

.category-sec .cata-ul li.big {
  width: 65.7%;
}

.category-sec .cata-ul li a {
  display: block;
  position: relative;
}

.category-sec .cata-ul li .photo {
  overflow: hidden;
}

.category-sec .cata-ul li .photo img {
  width: 100%;
}

.category-sec .cata-ul li p {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.92;
  text-align: center;
  z-index: 2;
}

.category-sec .content {
  width: 1086px;
  margin: 0 auto;
}

.category-sec .link-ul li {
  margin: 0 75px;
}

.category-sec .link-ul li .icon {
  margin: 0 auto 13px;
  width: 82px;
}

.category-sec .link-ul li a {
  display: block;
  text-align: center;
}

.category-sec .link-ul li a:hover {
  opacity: 0.75;
}

.category-sec .link-ul li .ttl .en {
  margin-bottom: 1px;
  display: block;
  font-size: 1.9rem;
  letter-spacing: 0.07em;
  font-weight: 400;
  font-family: ;/*フォント未*/
}

.category-sec .link-ul li a:hover {
  opacity: 0.75;
}

.category-sec .link-ul.link-ul02 li {
  margin: 0 38px;
  width: 120px;
}

.category-sec .link-ul.link-ul02 li .icon {
  margin: 0 auto 13px;
  width: 82px;
}

.category-sec .link-ul.link-ul02 li a {
  display: block;
  text-align: center;
  color: black;
}

.category-sec .link-ul.link-ul02 li .ttl .en {
  margin-bottom: 1px;
  display: block;
  font-size: 1.9rem;
  letter-spacing: 0.07em;
  font-weight: 400;
  font-family: ;/*フォント未*/
  color: black;
}

.category-sec .link-ul.link-ul02 li a:hover {
  opacity: 0.75;
}

/*---------------------fotter---------------------*/
#w-fotter {
  padding: 61px 0 29px;
  text-align: center;
  background-color: aqua;
}

#w-fotter .f-box {
  width: 1086px;
  margin: 0 auto;
}

#w-fotter .f-logo {
  margin-bottom: 70px;
}

#w-fotter .f-logo img {
  width: 154px;
}

#w-fotter .f-navi {
  margin-bottom: 124px;
}

#w-fotter f-navi.f-navi02 {
  margin-bottom: 50px;
}

#w-fotter .f-navi li {
  margin-right: 8px;
  display: inline;
  font-size: 1.3rem;
  letter-spacing: 0.07em;
}

#w-fotter .f-navi li a {
  margin-right: 10px;
  color: inherit;
}

#w-fotter .f-navi li a:hover {
  opacity: 0.7;
}

#w-fotter .f-sns-navi {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

#w-fotter .f-sns-navi li {
  width: 28px;
  margin: 0 32px;
}

#w-fotter .f-sns-navi li a:hover {
  opacity: .75;
}

/*---------------------レスポンシブ---------------------*/
@media all and (max-width: 896px) {
  /*body {
    min-width: inherit;
    font-size: 1.3rem;
  }

  a:hover,
  a:hover img {
    opacity: 1 !important;
  }

  .pc {
    display: none !important;
  }*/

  #w-header {
    margin-bottom: 0;
    padding-bottom: 7px;
  }
  #w-header .hBox {
    max-width: inherit;
  }
  #w-header .hBox .nav-box {
    padding-right: 0;
    width: calc(100% - 100px);
  }
  #w-nav {
    display: none;
  }
  
  #main .event-sec {
    margin-top: 44px;
    margin-bottom: 65px;
  }
  #main .event-sec .content {
    margin: 0 20px;
  }
  #main .event-sec .head-line01 {
    margin-bottom: 37px;
    font-size: 0.9rem;
  }
  #main .event-sec .head-line01 .en {
    margin-bottom: 6px;
    font-size: 1.9rem;
  }
  #main .rec-sec {
    padding-bottom: 49px;
  }
  #main .rec-sec .content {
    margin: 0 20px;
  }
  #main .rec-sec .head-line01 {
    margin-bottom: 37px;
    font-size: 0.9rem;
  }
  #main .rec-sec .head-line01 .en {
    margin-bottom: 5px;
    font-size: 1.9rem;
  }
  #main .rec-sec .com-slide {
    margin-bottom: 52px;
  }
  #main .rec-sec .img-box {
    margin: 0 22px 53px;
    display: block;
  }
  #main .rec-sec .img-box.right {
    text-align: left;
  }
  #main .rec-sec .img-box .photo-box {
    margin-bottom: 20px;
    width: auto;
  }
  #main .rec-sec .img-box .text-box {
    margin-top: 0;
    width: auto;    
  }
  #main .rec-sec .img-box .text-box .inner-box {
    padding: 0 !important;
    max-width: inherit; 
  }
  #main .rec-sec .img-box.right .text-box .inner-box {
    margin: 0;
  }
  #main .rec-sec .img-box .text-box .name {
    font-size: 1.6rem;
  }
  #main .rec-sec .img-box .text-box .sub {
    margin-bottom: 14px;
    font-size: 1.4rem;
  }
  #main .rec-sec .img-box .text-box .text {
    margin-bottom: 19px;
    line-height: 1.69;
  }
  #main .news-sec {
    padding: 37px 0 38px;
  }
  #main .news-sec .news-box {
    display: block;
  }
  #main .news-sec .news-box .headLine01 {
    margin-bottom: 37px;
    width: auto;
    font-size: 0.9rem;
  }
  #main .news-sec .news-box .headLine01 .en {
    margin-bottom: 6px;
    font-size: 1.9rem;
  }
  #main .news-sec .news-box .news-ul {
    margin: 0 0 29px;
    width: auto;
  }
  #main .news-sec .news-box .news-ul li {
    margin-bottom: 28px;
  }
  #main .news-sec .news-box .news-ul li a {
    padding: 0 30px 0 0;
    line-height: 1.38;
    background-position: right bottom 20px;
  }
  #main .news-sec .news-box .news-ul li .time {
    margin: 0 0 9px;
    display: block;
  }
  #main .category-sec {
    padding-top: 40px;
  }
  #main .category-sec .headLine01 {
    margin-bottom: 36px;
    font-size: 0.9rem;
  }
  #main .category-sec .headLine01 .en {
    margin-bottom: 5px;
    font-size: 1.9rem;
  }
  #main .category-sec .cata-ul {
    margin: -13px 0 59px;
  }
  #main .category-sec .cata-ul li {
    margin-top: 13px;
    width: 48.5% !important;
  }
  #main .category-sec .cata-ul li p {
    font-size: 1.2rem;
    line-height: 1.5; 
  }
  #w-fotter {
    padding: 44px 10px 26px;
  }
  #w-fotter .f-box {
    width: auto;
  }
  #w-fotter .f-logo {
    margin-bottom: 60px;
  }
  #w-fotter .f-navi {
    margin-bottom: 74px;
  }
  #w-fotter .f-navi.f-navi02 {
    margin-bottom: 74px;
  }
  #w-fotter .f-navi li {
    margin-right: 0;
    display: block;
    font-size: 0;
  }
  #w-fotter .f-navi li a {
    font-size: 1.1rem;
    margin: 0;
    letter-spacing: 0.07em;
  }
  #w-fotter .f-sns-navi li {
    width:32px;
    margin:0 16px;
  }
}